@model bsnsNiche.Models.PurchaseOrder
<!--
    The \t@model statement at the top of the view file specifies the type of object that the view expects. When the PurchaseOrders controller was
    created, the following \t@model statement was included:

    \t@model bsnsNiche.Models.Movie

    This \t@model directive allows access to the purchase order that the controller passed to the view.
    The Model object is strongly typed. For example, in the Details.cshtml view, the code passes each purchase order field to the DisplayNameFor and
    DisplayFor HTML Helpers with the strongly typed Model object. The Create and Edit methods and views also pass a Movie model object.
-->
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PurchaseOrder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Routing_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Routing_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PO_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PO_Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Receiving_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Receiving_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ordered_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ordered_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Load_Create_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Load_Create_Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Load_Update_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Load_Update_Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Need_By_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Need_By_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Retroactive_Effective_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Retroactive_Effective_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ERP_Supplier_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ERP_Supplier_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ERP_Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ERP_Supplier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier_VAT_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier_VAT_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ship_To_Location_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ship_To_Location_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payment_Terms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payment_Terms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Is_PunchOut_Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Is_PunchOut_Item)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Is_Retroactive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Is_Retroactive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Is_Subcontractor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Is_Subcontractor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Receipt_Based_Line)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Receipt_Based_Line)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spot_Buy_Marketplace_Seller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spot_Buy_Marketplace_Seller)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order_Confirmation_Status_Header)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order_Confirmation_Status_Header)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order_Confirmation_Status_Line)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order_Confirmation_Status_Line)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service_Order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service_Order)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Requires_Service_Sheet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requires_Service_Sheet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number_Substituted_OC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number_Substituted_OC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number_Confirmed_With_Changes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number_Confirmed_With_Changes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number_BackOrdered_OC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number_BackOrdered_OC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source_System)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source_System)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source_System_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source_System_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Originating_System)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Originating_System)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Originating_System_Reference_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Originating_System_Reference_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Originating_System_Line_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Originating_System_Line_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PO_Line_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PO_Line_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Line_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Line_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contract_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contract_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contract)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contract)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Closed_Order_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Closed_Order_Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Line_Closed_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Line_Closed_Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.buyerVatID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.buyerVatID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bill_To_Location_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bill_To_Location_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account_Assignment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account_Assignment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profit_Center_ID_Reporting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profit_Center_ID_Reporting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profit_Center)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profit_Center)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Article_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Article_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asset_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asset_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asset)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asset)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost_Center_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost_Center_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost_Center)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost_Center)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item_Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item_Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Internal_Order_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Internal_Order_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Budget_Internal_Order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Budget_Internal_Order)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Budget_Account_Group)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Budget_Account_Group)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commodity_ID_L1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commodity_ID_L1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commodity_L1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commodity_L1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commodity_ID_L2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commodity_ID_L2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commodity_L2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commodity_L2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commodity_ID_L3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commodity_ID_L3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commodity_L3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commodity_L3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commodity_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commodity_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commodity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commodity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ERP_Commodity_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ERP_Commodity_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ERP_Commodity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ERP_Commodity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price_Unit_of_Measure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price_Unit_of_Measure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Original_Currency_Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Original_Currency_Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit_Conversion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit_Conversion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price_Unit_Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price_Unit_Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PO_Line_Amount_Range_Minimum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PO_Line_Amount_Range_Minimum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PO_Line_Amount_Range_Maximum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PO_Line_Amount_Range_Maximum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PO_Spend)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PO_Spend)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PO_Spend_Original_Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PO_Spend_Original_Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount_Accepted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount_Accepted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount_Accepted_Original_Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount_Accepted_Original_Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount_Invoiced)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount_Invoiced)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount_Invoiced_Original_Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount_Invoiced_Original_Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tax_Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tax_Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tax_Amount_Invoiced)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tax_Amount_Invoiced)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount_Reconciled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount_Reconciled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount_Reconciled_Original_Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount_Reconciled_Original_Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PO_Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PO_Quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Order_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
